certifi==2020.6.20
chardet==3.0.4
click
cycler
DateTime==4.3
Flask
idna
imutils
itsdangerous
Jinja2
kiwisolver
MarkupSafe
matplotlib
MouseInfo
numpy
opencv-python
pandas
Pillow
playsound
PyAutoGUI
PyGetWindow
PyMsgBox
pyparsing
pyperclip
PyRect
PyScreeze
python-dateutil
PyTweening
pytz
requests
scipy
six
tkinterhtml
urllib3
Werkzeug
wincertstore
zope.interface
